.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(29, 28, 28);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 235, 101);
    border-radius: 5px;
    margin-bottom: 20px;
}

.formulario label{
    margin: 10px;
    font-size: 18px;

}

.formulario input{
    width: 80%;
}
.formulario button{
    margin: 5px;
    padding: 6px;
    border: 0px;
}

.formulario button:hover{
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(28, 59, 54);
}

.resultado h1{
    color: white;
    font-size: 22px;
}

